body{

    background-color: gray;

}

header{

    background-color: rgba(0, 0, 105, 0.26);
    box-shadow: 2px 2px 3px yellow;
    font: normal 20pt arial;
    text-align: center;
}

section{
    
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 50px;
    width: 450px;
    height: 450px;
    background-color: white;
    margin: auto;
    font: normal 12pt arial;
    border-radius: 30px;
    text-align: center;
}

div{

    padding: 10px;
    
}

footer{

    text-align: center;
    font: normal 15pt arial;

}